<table>
    <tr>
        <th>Weight</th>
        <th>Date</th>
    </tr>
    {% for log in weight_logs %}
    <tr> 
        <td>{{ log.weight }}</td>
        <td>{{ log.date_time }}</td>
    </tr>
    {% endfor %}
</table>


<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit">
</form>

<form action="{%  url 'delete_all_records' %}" method="POST">
   {% csrf_token %}
   <button type="submit">Delete All Records</button>
</form>
